{% extends "share/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="pt-4">
    <h1>PhotoShare</h1>
    <p>
        PhotoShare is a photo-sharing website where registered users can share 'Photos' and view/like a listing of other
        users' shared photos. It is built primarily on Python(Django)
    </p>
    <p>Created by <a href="https://israelakinola.info/">Israel A</a></p>
    <h5>Already Have an acount ? : <a href="/login">Login Here</a></h3>
        <h5>Don't have an account ? : <a href="/signup">Signup Here</a></h3>


</div>
{% endblock content %}